:root {
    --background-color:rgb(215, 247, 255);
    --header-color:rgb(46, 107, 231);
    --header-color:blueviolet;
    --text-color:green;
    --imp-text-colors:light rgb(9, 4, 70);
    --para-text-color: rgb(12, 46, 160);
    --img-border-color:green;
    --header-2-color: rgb(110, 5, 36);


}

*{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
 
}

.title>h2{
  border-bottom: 1px solid gray;
}

body{
 
  max-width: 1440pxpx;
  border: 2px solid gray;
  
}
.head,h2{
  text-align: center;
  color:var(--header-color);
  background-color: var(--background-color);
  margin: 0;
 
  
}
.header-2{
  color: var(--header-2-color);
}

.header-1{
 
  color: rgb(248, 95, 6);
  padding: 0.2px;
  text-decoration:underline;
}
.technical ,.non-tech{
  color: var(--text-color);
}
.order-list>li {
  color:var(--para-text-color);
  padding: 15px;
  
}
.order-list>#list{
  text-decoration:underline;

}

.order-list-1{
 color: var(--para-text-color);

}
.order-list-1>li{
  padding: 15px;
  color: mediumvioletred;
}
.assesment{
  color: brown;
}
.assesment>li>h4{
  color: green;
}
#para-1{
color: blueviolet;
padding: 15px;
}
#para-2{
  background-color: var(--background-color);
   padding: 15px;
}

img{
  border:1px  solid var(--img-border-color);
  height: 150px;
  width: 250px;
  
}
#para-3{
  color: var(--para-text-color);
  padding: 15px;
  
}
.siblings-1~.siblings-3{
  color: rgb(94, 47, 20);
}
.siblings-1+.siblings-2{
  border: 1px solid black;
}


